<div class="col-12 pr-8 pl-8 sm:pl-0 sm:pr-0 md:pl-8 md:pr-8 lg:pl-8 lg:pr-8 xl:pl-8 xl:pr-8  ">
    <p-panel header="Listado de Scripts">
        <p-table #dt [value]="scriptsList" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [filterDelay]="1000">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th pSortableColumn="tittle" >Título <p-sortIcon field="tittle"></p-sortIcon> </th>
<!--                    <th pSortableColumn="description" pFilterColumn>Description <p-sortIcon field="description"></p-sortIcon> <p-columnFilter type="text" field="description"></p-columnFilter></th>-->
                    <th pSortableColumn="operativeSystem.entity.description" >Sistema Operativo <p-sortIcon field="operativeSystem.entity.description"></p-sortIcon> </th>
                    <th pSortableColumn="tool.entity.description" >Herramienta de Automatización <p-sortIcon field="tool.entity.description"></p-sortIcon></th>
                    <th pSortableColumn="date_register" >Fecha de Registro <p-sortIcon field="date_register"></p-sortIcon> </th>
                    <th pSortableColumn="scriptType.entity.description" >Tipo de Script <p-sortIcon field="scriptType.entity.description"></p-sortIcon> </th>
<!--                    <th pSortableColumn="tecnology" >Tecnologías <p-sortIcon field="tecnology"></p-sortIcon> </th>-->
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <p-columnFilter type="text" field="tittle"></p-columnFilter>
                    </th>
                    <th>
<!--                        <p-columnFilter type="text" field="operativeSystem.entity.description"></p-columnFilter>-->
                        <p-columnFilter type="text" field="operativeSystem.entity.id">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [options]="operativeSystemList" [ngModel]="value" optionLabel="description"
                                            appendTo="body" optionValue="id" [filter]="true" filterBy="description"
                                            (onChange)="filter($event.value)" placeholder=" -- -- "></p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
<!--                        <p-columnFilter type="text" field="tool.entity.description"></p-columnFilter>-->
                        <p-columnFilter type="text" field="tool.entity.id">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [options]="toolList" [ngModel]="value" optionLabel="description"
                                            appendTo="body" optionValue="id" [filter]="true" filterBy="description"
                                            (onChange)="filter($event.value)" placeholder=" -- -- "></p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="date_register"></p-columnFilter>
                    </th>
                    <th>
<!--                        <p-columnFilter type="text" field="scriptType.entity.description"></p-columnFilter>-->
                        <p-columnFilter type="text" field="scriptType.entity.id">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [options]="scriptTypeList" [ngModel]="value" optionLabel="description"
                                            appendTo="body" optionValue="id" [filter]="true" filterBy="description"
                                            (onChange)="filter($event.value)" placeholder=" -- -- "></p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
<!--                        <p-columnFilter type="text" field="tecnology"></p-columnFilter>-->
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData  let-rowIndex="rowIndex" >
                <tr>
                    <td >
                        {{rowIndex + 1}}
                    </td>
                    <td>{{ rowData.tittle }}</td>
<!--                    <td>{{ rowData.description }}</td>-->
                    <td>{{ rowData.operativeSystem.entity.description }}</td>
                    <td>{{ rowData.tool.entity.description }}</td>
                    <td>{{ getFormattedDate(rowData.date_register.seconds, rowData.date_register.nanoseconds) }}</td>
                    <td>{{ rowData.scriptType.entity.description }}</td>
<!--                    <td>-->
<!--                        <ul>-->
<!--                            <li *ngFor="let tech of rowData.tecnology">{{ tech.entity.description }}</li>-->
<!--                        </ul>-->
<!--                    </td>-->
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-search"
                                (click)="gotoView(rowData)"
                                class="p-button p-component p-button-text p-button-icon-only"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-panel>
</div>
