<p-panel header="Contacto">
    <p>Cualquier pregunta o duda sobre el sitio web o uno de los productos, por favor dirija sus comentarios o mensajes
        a <a href="mailto:anthonyabrahan.pachay283@comunidadunir.net">anthonyabrahan.pachay283&#64;comunidadunir.net</a>.
    </p>
    <p>Estamos aquí para ayudarle con cualquier inquietud que pueda tener sobre el uso de la plataforma DevsRep, la
        contribución de recursos o cualquier otro aspecto relacionado con DevOps. Su retroalimentación es valiosa para
        nosotros y nos ayuda a mejorar continuamente nuestros servicios y la experiencia de nuestros usuarios.</p>
    <p>No dude en ponerse en contacto con nosotros para:</p>
    <ul>
        <li>Obtener asistencia técnica o resolver problemas relacionados con la plataforma.</li>
        <li>Proporcionar sugerencias o comentarios sobre cómo podemos mejorar DevsRep.</li>
        <li>Recibir información adicional sobre cómo contribuir con scripts, algoritmos o proyectos.</li>
        <li>Consultar sobre colaboraciones o asociaciones.</li>
    </ul>
    <p>¡Gracias por ser parte de nuestra comunidad DevOps y por su contribución al crecimiento y mejora continua de
        DevsRep!</p>
</p-panel>
