<p-panel header="Políticas de Donación">
    <p>La construcción de este repositorio es un proceso continuo. La mayor parte de las contribuciones provendrán de la
        comunidad dedicada al desarrollo de software y prácticas DevOps; sin embargo, estamos gustosos de recibir
        donaciones de personas y/o instituciones tanto del sector público como privado.</p>
    <p>La mejor manera de hacer donaciones, ya sean de scripts, algoritmos o proyectos relacionados con DevOps, es
        mediante nuestro formulario web que te permitirá cargar los archivos a nuestro repositorio. Los metadatos que se
        solicitan son útiles para gestionar una búsqueda eficiente.</p>
    <p>De forma alternativa, las donaciones podrían ser hechas de forma anónima mediante un archivo adjunto en correo
        electrónico, y esté enviado a la dirección <a href="mailto:anthonyabrahan.pachay283@comunidadunir.net">anthonyabrahan.pachay283&#64;comunidadunir.net</a>;
        también podrían dirigirse al sitio web donde estarían los recursos que han de ser donados.</p>
    <p><strong>Importante:</strong> Por favor asegúrese de poseer los permisos apropiados para hacer público el recurso.
        Por ejemplo, si usted no es propietario del recurso que está donando, por favor asegúrese de que el o los
        propietarios hayan dado su consentimiento.</p>
    <p>¡Gracias por sus donaciones! Ustedes están ayudando a la comunidad DevOps a mejorar la colaboración y la
        eficiencia en el desarrollo y despliegue de software.</p>
</p-panel>
<p-panel header="Formatos">
    <p>Con el propósito de evitar complicaciones, los recursos pueden ser cargados con requisitos de información mínima;
        sin embargo, exhortamos a los donadores a hacer su mejor documentación en los archivos para mayor beneficio de
        la comunidad. El archivo "devsrep_requirements" describe el formato de documentación estándar para cada
        recurso.</p>
    <p>Nosotros preferimos un formato estándar para los recursos, así: para scripts y algoritmos, el formato estándar es
        un archivo con comentarios claros y estructurados; para proyectos académicos preferimos que el documento esté en
        formato "pdf"; y los algoritmos obedezcan a la sintaxis propios de cada lenguaje en que se haya programado.</p>
</p-panel>
<p-panel header="Actualización de Recursos Subidos">
    <p>Es indiscutible que los recursos pueden estar sujetos a actualizaciones por parte de los donantes; por tal razón,
        usted puede iniciar una sesión con su usuario y proceder con los cambios en el recurso requerido.</p>
</p-panel>

<div class="col-12 flex justify-content-center mb-0 mt-4">
    <button [routerLink]="'/create-algorithm'" pButton type="button" label="Donar Algoritmos" icon="pi pi-heart"
            class="p-button-raised p-button-rounded donate-button"></button>
</div>
